p {
  margin: 0 16px;
}

#header {
  font-family: Verdana;
  font-size: 48px;
}

#subheader {
  font-family: Verdana;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

audio {
  display: none;
}

html {
  overflow-x: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.all-songs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.song-container {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
  border-radius: 10px;
  background: #439FD2;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.art-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  justify-content: space-between;
}

.point-container {
  display: flex;
  width: 70px;
  max-width: 70px;
  padding: 20px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 10px;
  right: -290px;
  border-radius: 50%;
  background: rgba(255, 0, 0, .4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.points {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Verdana;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.play-container {
  display: flex;
  min-width: 60px;
  min-height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 75px;
  bottom: 15px;
  border-radius: 30px;
  background: #FFF;
  align-self: flex-end;
}

#play-icon {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* margin-left: 5px; */
}

.song-title-container {
  display: flex;
  height: 100%;
  align-items: center;
}

#song-title {
  max-width: 300px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 0px 0px;
}

.grid > i {
  font-size: 2.5rem;
  justify-self: flex-start;
}

.grid > i:hover {
  cursor: pointer;
}

.grid > select {
  margin-right: 2rem;
  justify-self: flex-end;
  transition: all 0.3s ease;
}

.fa-shopping-cart {
  margin-left: 2rem;
  transition: all 0.3s ease;
}

.grid > .fa-times {
  margin-left: 2.5rem;
  transition: all 0.3s ease;
}

#cart-list {
  position: absolute;
  top: 1rem;
  right: -100%;
  width: 80%;
  height: 100%;
  background: #FFF;
  z-index: 1;
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: .5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: right 0.4s ease-in-out;
  border: 3px solid darkblue;
}

#cart-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

#cart-items > li {
  background-color: #439FD2;
  width: calc(100% - 5.5rem);
  height: 10rem;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  align-items: center;
  padding: 0 2.5rem 0 1rem;
}

li > img {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}

.song-info > p {
  color: #FFF;
  font-family: Verdana;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

li > .fa-times {
  color: #FFF;
  font-size: 3rem;
  transition: all 0.3s ease;
}

li > .fa-times:hover {
  cursor: pointer;
  color: #000;
}

#cart-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2.5rem);
  padding: 0 2.5rem;
  margin-top: .5rem;
  margin-bottom: -1.5rem;
  text-overflow: ellipsis;
}

.add-to-cart {
  background: #FFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}

.fa-check {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

#checkout {
  background: #439FD2;
  color: #FFF;
  border: 2px solid #439FD2;
  border-radius: .5rem;
  margin: 0 1rem 0 0;
  padding: 1rem;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
  align-self: flex-end;
}

#checkout:hover {
  cursor: pointer;
  background: #FFF;
  border: 2px solid #439FD2;
  color: #439FD2;
}

#total-label {
  color: #000;
  font-family: Verdana;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

#checkout-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  width: 100%;
  padding: 0 2.5rem;
}

#cart-items > li > img {
  width: 8rem;
  height: 8rem;
  border-radius: .5rem;
}

#sort-by-dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: flex-end;
  width: max-content;
  margin-right: 2.5rem;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
}

#sub-header {
  color: #AAA;
  margin-top: -2rem;
}